Repository minos-framework/minos-python, pull requests merged in 2022-06, with the labels that each got.

#473 #471 - Add `Condition.CONTAINS`
  packages/core/minos-microservice-aggregate/minos/aggregate/queries.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_queries.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/factories/aggregate/snapshots/queries.py
  packages/plugins/minos-database-aiopg/poetry.lock
  packages/plugins/minos-database-aiopg/tests/docker-compose.yml
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_factories/test_aggregate/test_snapshots/test_queries.py
Labels: enhancement, minos-microservice-aggregate

#474 0.7.1.dev1
  packages/core/minos-microservice-aggregate/minos/aggregate/__init__.py
  packages/core/minos-microservice-aggregate/minos/aggregate/events/models.py
  packages/core/minos-microservice-aggregate/minos/aggregate/queries.py
  packages/core/minos-microservice-aggregate/minos/aggregate/testing/snapshots/repositories/testcases.py
  packages/core/minos-microservice-aggregate/poetry.lock
  packages/core/minos-microservice-aggregate/pyproject.toml
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_events/test_models.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_queries.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_repositories/test_database.py
  packages/core/minos-microservice-common/minos/common/__init__.py
  packages/core/minos-microservice-common/minos/common/model/serializers/avro/data/decoder.py
  packages/core/minos-microservice-common/poetry.lock
  packages/core/minos-microservice-common/pyproject.toml
  packages/core/minos-microservice-common/tests/test_common/test_model/test_serializers/test_avro/test_data/test_decoder.py
  packages/core/minos-microservice-networks/minos/networks/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/dispatchers/impl.py
  packages/core/minos-microservice-networks/minos/networks/decorators/callables/handlers.py
  packages/core/minos-microservice-networks/minos/networks/decorators/collectors.py
  packages/core/minos-microservice-networks/minos/networks/decorators/factories.py
  packages/core/minos-microservice-networks/minos/networks/http/adapters.py
  packages/core/minos-microservice-networks/minos/networks/http/connectors.py
  packages/core/minos-microservice-networks/minos/networks/routers.py
  packages/core/minos-microservice-networks/poetry.lock
  packages/core/minos-microservice-networks/pyproject.toml
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/__init__.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/factories/aggregate/snapshots/queries.py
  packages/plugins/minos-database-aiopg/poetry.lock
  packages/plugins/minos-database-aiopg/pyproject.toml
  packages/plugins/minos-database-aiopg/tests/docker-compose.yml
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_factories/test_aggregate/test_snapshots/test_queries.py
Labels: release

#468 #51 - Implement `aiopg`'s `SagaExecutionRepository`
  .github/workflows/minos-database-aiopg-tests.yml
  packages/core/minos-microservice-saga/minos/saga/executions/repositories/database/factories.py
  packages/core/minos-microservice-saga/minos/saga/executions/repositories/database/impl.py
  packages/core/minos-microservice-saga/minos/saga/executions/saga.py
  packages/core/minos-microservice-saga/minos/saga/testing.py
  packages/core/minos-microservice-saga/tests/test_saga/test_executions/test_repositories/test_database/test_factories.py
  packages/core/minos-microservice-saga/tests/test_saga/test_executions/test_saga/test_raw.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/__init__.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/clients.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/factories/__init__.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/factories/saga.py
  packages/plugins/minos-database-aiopg/poetry.lock
  packages/plugins/minos-database-aiopg/pyproject.toml
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_clients.py
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_factories/test_saga/__init__.py
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_factories/test_saga/test_factories.py
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_factories/test_saga/test_repositories.py
  packages/plugins/minos-database-aiopg/tests/test_config.yml
  packages/plugins/minos-database-lmdb/minos/plugins/lmdb/factories/saga/executions.py
  packages/plugins/minos-database-lmdb/tests/test_lmdb/test_factories/test_saga/test_factories.py
Labels: minos-microservice-saga, minos-database-aiopg

#495 0.8.0.dev2 (2)
  packages/core/minos-microservice-aggregate/minos/aggregate/__init__.py
  packages/core/minos-microservice-aggregate/poetry.lock
  packages/core/minos-microservice-aggregate/pyproject.toml
  packages/core/minos-microservice-common/minos/common/__init__.py
  packages/core/minos-microservice-common/poetry.lock
  packages/core/minos-microservice-common/pyproject.toml
  packages/core/minos-microservice-cqrs/minos/cqrs/__init__.py
  packages/core/minos-microservice-cqrs/poetry.lock
  packages/core/minos-microservice-cqrs/pyproject.toml
  packages/core/minos-microservice-networks/minos/networks/__init__.py
  packages/core/minos-microservice-networks/poetry.lock
  packages/core/minos-microservice-networks/pyproject.toml
  packages/core/minos-microservice-saga/minos/saga/__init__.py
  packages/core/minos-microservice-saga/poetry.lock
  packages/core/minos-microservice-saga/pyproject.toml
  packages/core/minos-microservice-transactions/minos/transactions/__init__.py
  packages/core/minos-microservice-transactions/poetry.lock
  packages/core/minos-microservice-transactions/pyproject.toml
  packages/plugins/minos-broker-kafka/minos/plugins/kafka/__init__.py
  packages/plugins/minos-broker-kafka/poetry.lock
  packages/plugins/minos-broker-kafka/pyproject.toml
  packages/plugins/minos-broker-rabbitmq/minos/plugins/rabbitmq/__init__.py
  packages/plugins/minos-broker-rabbitmq/poetry.lock
  packages/plugins/minos-broker-rabbitmq/pyproject.toml
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/__init__.py
  packages/plugins/minos-database-aiopg/poetry.lock
  packages/plugins/minos-database-aiopg/pyproject.toml
  packages/plugins/minos-database-lmdb/minos/plugins/lmdb/__init__.py
  packages/plugins/minos-database-lmdb/poetry.lock
  packages/plugins/minos-database-lmdb/pyproject.toml
  packages/plugins/minos-discovery-kong/minos/plugins/kong/__init__.py
  packages/plugins/minos-discovery-kong/poetry.lock
  packages/plugins/minos-discovery-kong/pyproject.toml
  packages/plugins/minos-discovery-minos/minos/plugins/minos_discovery/__init__.py
  packages/plugins/minos-discovery-minos/poetry.lock
  packages/plugins/minos-discovery-minos/pyproject.toml
  packages/plugins/minos-http-aiohttp/minos/plugins/aiohttp/__init__.py
  packages/plugins/minos-http-aiohttp/poetry.lock
  packages/plugins/minos-http-aiohttp/pyproject.toml
  packages/plugins/minos-router-graphql/minos/plugins/graphql/__init__.py
  packages/plugins/minos-router-graphql/poetry.lock
  packages/plugins/minos-router-graphql/pyproject.toml
  poetry.lock
  pyproject.toml
Labels: release

#480 #478 - Add `minos-database-sqlalchemy` plugin
  .github/workflows/minos-database-sqlalchemy-publish.yml
  .github/workflows/minos-database-sqlalchemy-tests.yml
  .pre-commit-config.yaml
  README.md
  packages/plugins/minos-database-sqlalchemy/AUTHORS.md
  packages/plugins/minos-database-sqlalchemy/HISTORY.md
  packages/plugins/minos-database-sqlalchemy/LICENSE
  packages/plugins/minos-database-sqlalchemy/Makefile
  packages/plugins/minos-database-sqlalchemy/README.md
  packages/plugins/minos-database-sqlalchemy/RUNTHETESTS.md
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/__init__.py
  packages/plugins/minos-database-sqlalchemy/poetry.lock
  packages/plugins/minos-database-sqlalchemy/poetry.toml
  packages/plugins/minos-database-sqlalchemy/pyproject.toml
  packages/plugins/minos-database-sqlalchemy/setup.cfg
  packages/plugins/minos-database-sqlalchemy/tests/__init__.py
  packages/plugins/minos-database-sqlalchemy/tests/test_config.yml
  packages/plugins/minos-database-sqlalchemy/tests/test_something.py
  packages/plugins/minos-database-sqlalchemy/tests/utils.py
  poetry.lock
  pyproject.toml
Labels: minos-database-sqlalchemy

#504 0.8.0.dev3
  packages/core/minos-microservice-aggregate/minos/aggregate/__init__.py
  packages/core/minos-microservice-aggregate/minos/aggregate/entities/repositories.py
  packages/core/minos-microservice-aggregate/poetry.lock
  packages/core/minos-microservice-aggregate/pyproject.toml
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_entities/test_repositories/test_base.py
  packages/core/minos-microservice-saga/minos/saga/__init__.py
  packages/core/minos-microservice-saga/minos/saga/testing.py
  packages/core/minos-microservice-saga/poetry.lock
  packages/core/minos-microservice-saga/pyproject.toml
  packages/core/minos-microservice-transactions/minos/transactions/__init__.py
  packages/core/minos-microservice-transactions/minos/transactions/repositories/database/impl.py
  packages/core/minos-microservice-transactions/poetry.lock
  packages/core/minos-microservice-transactions/pyproject.toml
  packages/core/minos-microservice-transactions/tests/test_transactions/test_repositories/test_database.py
Labels: release

#484 #482 - Add `SqlAlchemyDatabaseClient` and `SqlAlchemyDatabaseOperation`
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/__init__.py
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/clients.py
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/factories/__init__.py
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/factories/common/__init__.py
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/factories/common/managemens.py
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/operations.py
  packages/plugins/minos-database-sqlalchemy/poetry.lock
  packages/plugins/minos-database-sqlalchemy/pyproject.toml
  packages/plugins/minos-database-sqlalchemy/tests/test_config.yml
  packages/plugins/minos-database-sqlalchemy/tests/test_something.py
  packages/plugins/minos-database-sqlalchemy/tests/test_sqlalchemy/__init__.py
  packages/plugins/minos-database-sqlalchemy/tests/test_sqlalchemy/test_clients.py
  packages/plugins/minos-database-sqlalchemy/tests/test_sqlalchemy/test_operations.py
  packages/plugins/minos-database-sqlalchemy/tests/utils.py
  poetry.lock
  pyproject.toml
Labels: enhancement, databases, minos-database-sqlalchemy

#483 #481 - Add `SqlAlchemySnapshotTableFactory `
  packages/core/minos-microservice-aggregate/minos/aggregate/entities/refs/models.py
  packages/core/minos-microservice-common/minos/common/__init__.py
  packages/core/minos-microservice-common/minos/common/model/__init__.py
  packages/core/minos-microservice-common/minos/common/model/types/__init__.py
  packages/core/minos-microservice-common/minos/common/model/types/comparators.py
  packages/core/minos-microservice-common/tests/test_common/test_model/test_types/test_comparators.py
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/__init__.py
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/factories/__init__.py
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/factories/aggregate/__init__.py
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/factories/aggregate/snapshots/__init__.py
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/factories/aggregate/snapshots/tables.py
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/types.py
  packages/plugins/minos-database-sqlalchemy/tests/test_sqlalchemy/test_factories/__init__.py
  packages/plugins/minos-database-sqlalchemy/tests/test_sqlalchemy/test_factories/test_aggregate/__init__.py
  packages/plugins/minos-database-sqlalchemy/tests/test_sqlalchemy/test_factories/test_aggregate/test_snapshots/__init__.py
  packages/plugins/minos-database-sqlalchemy/tests/test_sqlalchemy/test_factories/test_aggregate/test_snapshots/test_tables.py
  packages/plugins/minos-database-sqlalchemy/tests/test_sqlalchemy/test_types.py
Labels: snapshots, minos-microservice-aggregate, minos-database-sqlalchemy
