Repository minos-framework/minos-python, pull requests merged in 2022-03, with the labels that each got.

#265 #264 - Improve `minos.common.model` performance
  packages/core/minos-microservice-common/minos/common/model/declarative.py
  packages/core/minos-microservice-common/minos/common/model/types/comparators.py
  packages/core/minos-microservice-common/minos/common/model/types/generics.py
  packages/core/minos-microservice-common/minos/common/model/types/model_types.py
  packages/core/minos-microservice-common/tests/test_common/test_model/test_types/test_generics.py
  packages/core/minos-microservice-common/tests/test_common/test_model/test_types/test_model_types.py
Labels: enhancement

#266 #186 - Fix bug related with `AvroDataEncoder` that didn't parse `dict` to `Model` automatically
  packages/core/minos-microservice-common/minos/common/model/serializers/avro/data/decoder.py
  packages/core/minos-microservice-common/tests/model_classes.py
  packages/core/minos-microservice-common/tests/test_common/test_model/test_serializers/test_avro/test_data/test_decoder.py
Labels: bug, enhancement

#262 #219 - Improve `getitem` - `getattr` relationship
  packages/core/minos-microservice-aggregate/minos/aggregate/entities/refs/models.py
  packages/core/minos-microservice-aggregate/minos/aggregate/events/fields.py
  packages/core/minos-microservice-aggregate/minos/aggregate/events/models.py
  packages/core/minos-microservice-aggregate/minos/aggregate/value_objects.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_entities/test_refs/test_models.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_value_objects.py
  packages/core/minos-microservice-common/minos/common/model/abc.py
  packages/core/minos-microservice-common/tests/model_classes.py
  packages/core/minos-microservice-common/tests/test_common/test_model/test_declarative/test_common.py
  packages/core/minos-microservice-saga/minos/saga/context.py
  packages/core/minos-microservice-saga/tests/test_saga/test_context.py
Labels: enhancement

#185 0.5.3
  README.md
  packages/core/minos-microservice-aggregate/HISTORY.md
  packages/core/minos-microservice-aggregate/Makefile
  packages/core/minos-microservice-aggregate/minos/aggregate/__init__.py
  packages/core/minos-microservice-aggregate/minos/aggregate/entities/models.py
  packages/core/minos-microservice-aggregate/minos/aggregate/entities/refs/models.py
  packages/core/minos-microservice-aggregate/minos/aggregate/entities/refs/resolvers.py
  packages/core/minos-microservice-aggregate/minos/aggregate/events/fields.py
  packages/core/minos-microservice-aggregate/minos/aggregate/events/models.py
  packages/core/minos-microservice-aggregate/minos/aggregate/exceptions.py
  packages/core/minos-microservice-aggregate/minos/aggregate/value_objects.py
  packages/core/minos-microservice-aggregate/poetry.lock
  packages/core/minos-microservice-aggregate/pyproject.toml
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_entities/test_refs/test_models.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_entities/test_refs/test_resolvers.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_events/test_fields.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_events/test_models.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_value_objects.py
  packages/core/minos-microservice-common/HISTORY.md
  packages/core/minos-microservice-common/Makefile
  packages/core/minos-microservice-common/minos/common/__init__.py
  packages/core/minos-microservice-common/minos/common/model/abc.py
  packages/core/minos-microservice-common/minos/common/model/declarative.py
  packages/core/minos-microservice-common/minos/common/model/serializers/avro/data/decoder.py
  packages/core/minos-microservice-common/minos/common/model/types/comparators.py
  packages/core/minos-microservice-common/minos/common/model/types/generics.py
  packages/core/minos-microservice-common/minos/common/model/types/model_types.py
  packages/core/minos-microservice-common/poetry.lock
  packages/core/minos-microservice-common/pyproject.toml
  packages/core/minos-microservice-common/tests/model_classes.py
  packages/core/minos-microservice-common/tests/test_common/test_model/test_declarative/test_common.py
  packages/core/minos-microservice-common/tests/test_common/test_model/test_serializers/test_avro/test_data/test_decoder.py
  packages/core/minos-microservice-common/tests/test_common/test_model/test_types/test_generics.py
  packages/core/minos-microservice-common/tests/test_common/test_model/test_types/test_model_types.py
  packages/core/minos-microservice-cqrs/HISTORY.md
  packages/core/minos-microservice-cqrs/Makefile
  packages/core/minos-microservice-cqrs/minos/cqrs/__init__.py
  packages/core/minos-microservice-cqrs/minos/cqrs/handlers.py
  packages/core/minos-microservice-cqrs/poetry.lock
  packages/core/minos-microservice-cqrs/pyproject.toml
  packages/core/minos-microservice-cqrs/tests/test_cqrs/test_handlers.py
  packages/core/minos-microservice-networks/HISTORY.md
  packages/core/minos-microservice-networks/Makefile
  packages/core/minos-microservice-networks/minos/networks/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/dispatchers/impl.py
  packages/core/minos-microservice-networks/minos/networks/rest/handlers.py
  packages/core/minos-microservice-networks/minos/networks/scheduling/schedulers.py
  packages/core/minos-microservice-networks/poetry.lock
  packages/core/minos-microservice-networks/pyproject.toml
  packages/core/minos-microservice-saga/HISTORY.md
  packages/core/minos-microservice-saga/Makefile
  packages/core/minos-microservice-saga/minos/saga/__init__.py
  packages/core/minos-microservice-saga/minos/saga/context.py
  packages/core/minos-microservice-saga/poetry.lock
  packages/core/minos-microservice-saga/pyproject.toml
  packages/core/minos-microservice-saga/tests/test_saga/test_context.py
  packages/plugins/minos-broker-kafka/Makefile
  packages/plugins/minos-discovery-minos/Makefile
  poetry.lock
  pyproject.toml
Labels: release

#277 #276 - Fix `Ref.resolve` bug
  packages/core/minos-microservice-aggregate/minos/aggregate/entities/refs/models.py
  packages/core/minos-microservice-aggregate/minos/aggregate/entities/refs/resolvers.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/services.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_entities/test_refs/test_models.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_entities/test_refs/test_resolvers.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_services.py
Labels: enhancement, minos-microservice-aggregate

#120 #88 - Handle kafka unavailability
  packages/core/minos-microservice-common/minos/common/__init__.py
  packages/core/minos-microservice-common/minos/common/mixins.py
  packages/core/minos-microservice-common/minos/common/object.py
  packages/core/minos-microservice-common/minos/common/setup.py
  packages/core/minos-microservice-common/tests/test_common/test_mixins.py
  packages/core/minos-microservice-common/tests/test_common/test_object.py
  packages/core/minos-microservice-common/tests/test_common/test_setup.py
  packages/plugins/minos-broker-kafka/minos/plugins/kafka/__init__.py
  packages/plugins/minos-broker-kafka/minos/plugins/kafka/mixins.py
  packages/plugins/minos-broker-kafka/minos/plugins/kafka/publisher.py
  packages/plugins/minos-broker-kafka/minos/plugins/kafka/subscriber.py
  packages/plugins/minos-broker-kafka/tests/test_kafka/test_mixins.py
  packages/plugins/minos-broker-kafka/tests/test_kafka/test_publisher.py
  packages/plugins/minos-broker-kafka/tests/test_kafka/test_subscriber.py
Labels: enhancement, minos-microservice-networks, broker

#187 #177 - Implement `CircuitBreakerMixin` for `MinosDiscoveryClient`
  .pre-commit-config.yaml
  packages/core/minos-microservice-networks/minos/networks/discovery/clients/abc.py
  packages/core/minos-microservice-networks/tests/test_networks/test_discovery/test_clients/test_abc.py
  packages/plugins/minos-discovery-minos/minos/plugins/minos_discovery/client.py
  packages/plugins/minos-discovery-minos/tests/test_minos_discovery/test_client.py
Labels: enhancement, discovery, minos-discovery-minos

#191 #189 - Rename `MinosSetup` as `SetupMixin`
  packages/core/minos-microservice-aggregate/minos/aggregate/aggregate.py
  packages/core/minos-microservice-aggregate/minos/aggregate/events/repositories/abc.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/abc.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/repositories/abc.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_events/test_repositories/test_abc.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_abc.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_transactions/test_repositories/test_abc.py
  packages/core/minos-microservice-common/minos/common/__init__.py
  packages/core/minos-microservice-common/minos/common/database/abc.py
  packages/core/minos-microservice-common/minos/common/injectors.py
  packages/core/minos-microservice-common/minos/common/launchers.py
  packages/core/minos-microservice-common/minos/common/pools.py
  packages/core/minos-microservice-common/minos/common/setup.py
  packages/core/minos-microservice-common/tests/test_common/test_pools.py
  packages/core/minos-microservice-common/tests/test_common/test_setup.py
  packages/core/minos-microservice-networks/minos/networks/brokers/clients.py
  packages/core/minos-microservice-networks/minos/networks/brokers/collections/queues/abc.py
  packages/core/minos-microservice-networks/minos/networks/brokers/dispatchers/impl.py
  packages/core/minos-microservice-networks/minos/networks/brokers/handlers/impl.py
  packages/core/minos-microservice-networks/minos/networks/brokers/publishers/abc.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/abc.py
  packages/core/minos-microservice-networks/minos/networks/discovery/connectors.py
  packages/core/minos-microservice-networks/minos/networks/rest/handlers.py
  packages/core/minos-microservice-networks/minos/networks/scheduling/schedulers.py
  packages/core/minos-microservice-networks/minos/networks/utils.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_clients.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_collections/test_queues/test_abc.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_publishers/test_abc.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_subscribers/test_abc.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_subscribers/test_queued/test_queues/test_abc.py
  packages/core/minos-microservice-networks/tests/test_networks/test_utils.py
  packages/core/minos-microservice-saga/minos/saga/manager.py
  packages/core/minos-microservice-saga/tests/utils.py
Labels: enhancement, minos-microservice-common

#193 #190 - Move `Builder` from `minos.networks` to `minos.common`
  packages/core/minos-microservice-common/minos/common/__init__.py
  packages/core/minos-microservice-common/minos/common/builders.py
  packages/core/minos-microservice-common/tests/test_common/test_builders.py
  packages/core/minos-microservice-common/tests/utils.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/abc.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/queued/queues/abc.py
  packages/core/minos-microservice-networks/minos/networks/utils.py
  packages/core/minos-microservice-networks/tests/test_networks/test_utils.py
Labels: minos-microservice-common, minos-microservice-networks

#286 #87 - Add `IdempotentBrokerSubscriber`
  packages/core/minos-microservice-networks/minos/networks/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/idempotent/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/idempotent/detectors/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/idempotent/detectors/abc.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/idempotent/detectors/memory.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/idempotent/detectors/pg.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/idempotent/impl.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_subscribers/test_idempotent/__init__.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_subscribers/test_idempotent/test_detectors/__init__.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_subscribers/test_idempotent/test_detectors/test_abc.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_subscribers/test_idempotent/test_detectors/test_memory.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_subscribers/test_idempotent/test_detectors/test_pg.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_subscribers/test_idempotent/test_impl.py
Labels: minos-microservice-networks, broker

#290 #150 - Rename `MinosConfig` as `Config`
  packages/core/minos-microservice-aggregate/minos/aggregate/aggregate.py
  packages/core/minos-microservice-aggregate/minos/aggregate/events/repositories/pg.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/pg/abc.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/pg/api.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/services.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/repositories/pg.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/services.py
  packages/core/minos-microservice-common/minos/common/__init__.py
  packages/core/minos-microservice-common/minos/common/builders.py
  packages/core/minos-microservice-common/minos/common/config.py
  packages/core/minos-microservice-common/minos/common/configuration/__init__.py
  packages/core/minos-microservice-common/minos/common/injectors.py
  packages/core/minos-microservice-common/minos/common/launchers.py
  packages/core/minos-microservice-common/minos/common/setup.py
  packages/core/minos-microservice-common/minos/common/testing.py
  packages/core/minos-microservice-common/tests/test_common/test_builders.py
  packages/core/minos-microservice-common/tests/test_common/test_config/__init__.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_base.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_parameterized.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_with_env.py
  packages/core/minos-microservice-common/tests/test_common/test_injectors.py
  packages/core/minos-microservice-common/tests/test_common/test_setup.py
  packages/core/minos-microservice-cqrs/minos/cqrs/services.py
  packages/core/minos-microservice-networks/minos/networks/brokers/clients.py
  packages/core/minos-microservice-networks/minos/networks/brokers/collections/queues/pg.py
  packages/core/minos-microservice-networks/minos/networks/brokers/dispatchers/impl.py
  packages/core/minos-microservice-networks/minos/networks/brokers/handlers/impl.py
  packages/core/minos-microservice-networks/minos/networks/brokers/pools.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/queued/impl.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/queued/queues/pg.py
  packages/core/minos-microservice-networks/minos/networks/decorators/analyzers.py
  packages/core/minos-microservice-networks/minos/networks/discovery/connectors.py
  packages/core/minos-microservice-networks/minos/networks/rest/handlers.py
  packages/core/minos-microservice-networks/minos/networks/scheduling/schedulers.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_subscribers/test_queued/test_impl.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_subscribers/test_queued/test_queues/test_pg.py
  packages/core/minos-microservice-networks/tests/test_networks/test_discovery/test_connectors.py
  packages/core/minos-microservice-networks/tests/test_networks/test_rest/test_services.py
  packages/core/minos-microservice-networks/tests/test_networks/test_scheduling/test_schedulers.py
  packages/core/minos-microservice-saga/minos/saga/executions/executors/request.py
  packages/core/minos-microservice-saga/minos/saga/executions/storage.py
  packages/core/minos-microservice-saga/minos/saga/manager.py
  packages/core/minos-microservice-saga/minos/saga/services.py
  packages/core/minos-microservice-saga/minos/saga/utils.py
  packages/core/minos-microservice-saga/tests/test_saga/test_services.py
  packages/core/minos-microservice-saga/tests/utils.py
  packages/plugins/minos-broker-kafka/minos/plugins/kafka/publisher.py
  packages/plugins/minos-broker-kafka/minos/plugins/kafka/subscriber.py
  packages/plugins/minos-broker-kafka/tests/test_kafka/test_publisher.py
  packages/plugins/minos-broker-kafka/tests/test_kafka/test_subscriber.py
Labels: config, minos-microservice-common

#267 #149 - Create `minos-router-graphql` plugin
  .github/workflows/minos-router-graphql-publish.yml
  .github/workflows/minos-router-graphql-tests.yml
  .pre-commit-config.yaml
  README.md
  packages/plugins/minos-http-aiohttp/minos/plugins/aiohttp/__init__.py
  packages/plugins/minos-router-graphql/AUTHORS.md
  packages/plugins/minos-router-graphql/HISTORY.md
  packages/plugins/minos-router-graphql/LICENSE
  packages/plugins/minos-router-graphql/Makefile
  packages/plugins/minos-router-graphql/README.md
  packages/plugins/minos-router-graphql/RUNTHETESTS.md
  packages/plugins/minos-router-graphql/SETUP.md
  packages/plugins/minos-router-graphql/docs/Makefile
  packages/plugins/minos-router-graphql/docs/_static/style.css
  packages/plugins/minos-router-graphql/docs/_templates/layout.html
  packages/plugins/minos-router-graphql/docs/authors.md
  packages/plugins/minos-router-graphql/docs/conf.py
  packages/plugins/minos-router-graphql/docs/history.md
  packages/plugins/minos-router-graphql/docs/index.md
  packages/plugins/minos-router-graphql/docs/readme.md
  packages/plugins/minos-router-graphql/docs/runthetests.md
  packages/plugins/minos-router-graphql/docs/usage.md
  packages/plugins/minos-router-graphql/minos/plugins/graphql/__init__.py
  packages/plugins/minos-router-graphql/minos/plugins/graphql/builders/__init__.py
  packages/plugins/minos-router-graphql/minos/plugins/graphql/builders/schema.py
  packages/plugins/minos-router-graphql/minos/plugins/graphql/decorators.py
  packages/plugins/minos-router-graphql/minos/plugins/graphql/handlers.py
  packages/plugins/minos-router-graphql/minos/plugins/graphql/routers.py
  packages/plugins/minos-router-graphql/poetry.lock
  packages/plugins/minos-router-graphql/poetry.toml
  packages/plugins/minos-router-graphql/pyproject.toml
  packages/plugins/minos-router-graphql/setup.cfg
  packages/plugins/minos-router-graphql/tests/__init__.py
  packages/plugins/minos-router-graphql/tests/services/commands.py
  packages/plugins/minos-router-graphql/tests/services/queries.py
  packages/plugins/minos-router-graphql/tests/test_config.yml
  packages/plugins/minos-router-graphql/tests/test_graphql/__init__.py
  packages/plugins/minos-router-graphql/tests/test_graphql/test_builders/__init__.py
  packages/plugins/minos-router-graphql/tests/test_graphql/test_builders/test_schema.py
  packages/plugins/minos-router-graphql/tests/test_graphql/test_decorators.py
  packages/plugins/minos-router-graphql/tests/test_graphql/test_handlers.py
  packages/plugins/minos-router-graphql/tests/test_graphql/test_routers.py
  packages/plugins/minos-router-graphql/tests/utils.py
Labels: enhancement

#293 #150 - Add `Injectable`
  packages/core/minos-microservice-aggregate/minos/aggregate/events/repositories/abc.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/abc.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/repositories/abc.py
  packages/core/minos-microservice-aggregate/tests/utils.py
  packages/core/minos-microservice-common/minos/common/__init__.py
  packages/core/minos-microservice-common/minos/common/config.py
  packages/core/minos-microservice-common/minos/common/database/pools.py
  packages/core/minos-microservice-common/minos/common/injections/__init__.py
  packages/core/minos-microservice-common/minos/common/injections/decorators.py
  packages/core/minos-microservice-common/minos/common/injections/injectors.py
  packages/core/minos-microservice-common/minos/common/injections/mixins.py
  packages/core/minos-microservice-common/minos/common/launchers.py
  packages/core/minos-microservice-common/minos/common/locks.py
  packages/core/minos-microservice-common/minos/common/pools.py
  packages/core/minos-microservice-common/minos/common/retries.py
  packages/core/minos-microservice-common/tests/model_classes.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_base.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_parameterized.py
  packages/core/minos-microservice-common/tests/test_common/test_database/test_abc.py
  packages/core/minos-microservice-common/tests/test_common/test_injections/__init__.py
  packages/core/minos-microservice-common/tests/test_common/test_injections/test_decorators.py
  packages/core/minos-microservice-common/tests/test_common/test_injections/test_injectors.py
  packages/core/minos-microservice-common/tests/test_common/test_injections/test_mixins.py
  packages/core/minos-microservice-common/tests/test_common/test_pools.py
  packages/core/minos-microservice-common/tests/test_common/test_retries.py
  packages/core/minos-microservice-common/tests/utils.py
  packages/core/minos-microservice-networks/minos/networks/brokers/pools.py
  packages/core/minos-microservice-networks/minos/networks/brokers/publishers/abc.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/abc.py
  packages/core/minos-microservice-networks/minos/networks/discovery/connectors.py
  packages/core/minos-microservice-networks/minos/networks/http/connectors.py
  packages/core/minos-microservice-saga/minos/saga/manager.py
  packages/core/minos-microservice-saga/tests/utils.py
Labels: minos-microservice-common, dependency-injection

#298 #150 - Add `Inject`
  .sonarcloud.properties
  packages/core/minos-microservice-aggregate/minos/aggregate/aggregate.py
  packages/core/minos-microservice-aggregate/minos/aggregate/entities/models.py
  packages/core/minos-microservice-aggregate/minos/aggregate/entities/refs/resolvers.py
  packages/core/minos-microservice-aggregate/minos/aggregate/events/repositories/abc.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/memory.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/pg/writers.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/services.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/entries.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/repositories/abc.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/services.py
  packages/core/minos-microservice-aggregate/poetry.lock
  packages/core/minos-microservice-aggregate/pyproject.toml
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_entries.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_transactions/test_repositories/test_pg.py
  packages/core/minos-microservice-aggregate/tests/testcases/event_repository.py
  packages/core/minos-microservice-aggregate/tests/utils.py
  packages/core/minos-microservice-common/minos/common/__init__.py
  packages/core/minos-microservice-common/minos/common/database/abc.py
  packages/core/minos-microservice-common/minos/common/injections/__init__.py
  packages/core/minos-microservice-common/minos/common/injections/decorators.py
  packages/core/minos-microservice-common/minos/common/injections/injectors.py
  packages/core/minos-microservice-common/minos/common/launchers.py
  packages/core/minos-microservice-common/minos/common/setup.py
  packages/core/minos-microservice-common/tests/test_common/test_database/test_abc.py
  packages/core/minos-microservice-common/tests/test_common/test_injections/test_decorators.py
  packages/core/minos-microservice-common/tests/test_common/test_injections/test_injectors.py
  packages/core/minos-microservice-common/tests/test_common/test_launchers.py
  packages/core/minos-microservice-common/tests/test_common/test_model/test_declarative/test_avro.py
  packages/core/minos-microservice-common/tests/test_common/test_model/test_serializers/test_avro/test_data/test_decoder.py
  packages/core/minos-microservice-common/tests/test_common/test_setup.py
  packages/core/minos-microservice-common/tests/utils.py
  packages/core/minos-microservice-cqrs/minos/cqrs/services.py
  packages/core/minos-microservice-cqrs/poetry.lock
  packages/core/minos-microservice-cqrs/pyproject.toml
  packages/core/minos-microservice-cqrs/tests/test_cqrs/test_handlers.py
  packages/core/minos-microservice-cqrs/tests/test_cqrs/test_services.py
  packages/core/minos-microservice-networks/minos/networks/brokers/clients.py
  packages/core/minos-microservice-networks/minos/networks/brokers/dispatchers/impl.py
  packages/core/minos-microservice-networks/minos/networks/brokers/handlers/impl.py
  packages/core/minos-microservice-networks/minos/networks/http/ports.py
  packages/core/minos-microservice-networks/poetry.lock
  packages/core/minos-microservice-networks/pyproject.toml
  packages/core/minos-microservice-saga/minos/saga/executions/commit.py
  packages/core/minos-microservice-saga/minos/saga/executions/executors/request.py
  packages/core/minos-microservice-saga/minos/saga/manager.py
  packages/core/minos-microservice-saga/minos/saga/services.py
  packages/core/minos-microservice-saga/minos/saga/utils.py
  packages/core/minos-microservice-saga/poetry.lock
  packages/core/minos-microservice-saga/pyproject.toml
  packages/core/minos-microservice-saga/tests/utils.py
Labels: minos-microservice-common, dependency-injection

#314 #150 - Add support for default values on `Config`
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_events/test_repositories/test_pg.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_transactions/test_repositories/test_pg.py
  packages/core/minos-microservice-common/minos/common/config/abc.py
  packages/core/minos-microservice-common/minos/common/config/v1.py
  packages/core/minos-microservice-common/minos/common/config/v2.py
  packages/core/minos-microservice-common/minos/common/database/abc.py
  packages/core/minos-microservice-common/minos/common/database/pools.py
  packages/core/minos-microservice-common/minos/common/storage/lmdb.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_abc.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_v1/test_base.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_v2/test_base.py
  packages/core/minos-microservice-common/tests/test_common/test_database/test_abc.py
  packages/core/minos-microservice-common/tests/test_common/test_database/test_pools.py
  packages/core/minos-microservice-common/tests/test_common/test_storage/test_lmdb.py
  packages/core/minos-microservice-networks/minos/networks/brokers/collections/queues/pg.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/queued/queues/pg.py
  packages/core/minos-microservice-networks/minos/networks/discovery/connectors.py
  packages/core/minos-microservice-networks/minos/networks/http/connectors.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_collections/test_queues/test_pg.py
  packages/core/minos-microservice-networks/tests/test_networks/test_discovery/test_connectors.py
  packages/core/minos-microservice-networks/tests/test_networks/test_http/test_connectors.py
  packages/plugins/minos-broker-kafka/minos/plugins/kafka/publisher.py
  packages/plugins/minos-broker-kafka/minos/plugins/kafka/subscriber.py
  packages/plugins/minos-broker-kafka/tests/test_kafka/test_publisher.py
  packages/plugins/minos-broker-kafka/tests/test_kafka/test_subscriber.py
  packages/plugins/minos-discovery-minos/minos/plugins/minos_discovery/client.py
  packages/plugins/minos-discovery-minos/tests/test_minos_discovery/test_client.py
Labels: config, minos-microservice-common

#308 #150 - Improve `BrokerSubscriberBuilder`
  packages/core/minos-microservice-common/minos/common/builders.py
  packages/core/minos-microservice-common/minos/common/config/v2.py
  packages/core/minos-microservice-common/tests/test_common/test_builders.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_v2/test_base.py
  packages/core/minos-microservice-common/tests/utils.py
  packages/core/minos-microservice-networks/minos/networks/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/collections/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/collections/queues/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/collections/queues/abc.py
  packages/core/minos-microservice-networks/minos/networks/brokers/collections/queues/pg.py
  packages/core/minos-microservice-networks/minos/networks/brokers/publishers/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/publishers/abc.py
  packages/core/minos-microservice-networks/minos/networks/brokers/publishers/queued/impl.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/abc.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/idempotent/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/idempotent/detectors/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/idempotent/detectors/abc.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/idempotent/detectors/pg.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/idempotent/impl.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/memory.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/queued/impl.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/queued/queues/abc.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/queued/queues/memory.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/queued/queues/pg.py
  packages/core/minos-microservice-networks/minos/networks/utils.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_publishers/test_abc.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_subscribers/test_abc.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_subscribers/test_queued/test_impl.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_subscribers/test_queued/test_queues/test_abc.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_subscribers/test_queued/test_queues/test_pg.py
  packages/core/minos-microservice-networks/tests/test_networks/test_utils.py
  packages/plugins/minos-broker-kafka/minos/plugins/kafka/__init__.py
  packages/plugins/minos-broker-kafka/minos/plugins/kafka/common.py
  packages/plugins/minos-broker-kafka/minos/plugins/kafka/mixins.py
  packages/plugins/minos-broker-kafka/minos/plugins/kafka/publisher.py
  packages/plugins/minos-broker-kafka/minos/plugins/kafka/subscriber.py
  packages/plugins/minos-broker-kafka/tests/test_kafka/test_common.py
  packages/plugins/minos-broker-kafka/tests/test_kafka/test_mixins.py
  packages/plugins/minos-broker-kafka/tests/test_kafka/test_publisher.py
  packages/plugins/minos-broker-kafka/tests/test_kafka/test_subscriber.py
Labels: config, minos-microservice-common, minos-microservice-networks, broker, minos-broker-kafka

#316 #315 - GraphQL documentation correction
  packages/core/minos-microservice-networks/minos/networks/http/requests.py
  packages/core/minos-microservice-networks/tests/test_networks/test_http/test_requests.py
  packages/plugins/minos-router-graphql/README.md
  packages/plugins/minos-router-graphql/minos/plugins/graphql/decorators.py
  packages/plugins/minos-router-graphql/minos/plugins/graphql/handlers.py
  packages/plugins/minos-router-graphql/minos/plugins/graphql/routers.py
  packages/plugins/minos-router-graphql/tests/test_config.yml
  packages/plugins/minos-router-graphql/tests/test_graphql/test_handlers.py
  packages/plugins/minos-router-graphql/tests/test_graphql/test_routers.py
Labels: enhancement, plugin, minos-router-graphql

#317 #87 - Rename `IdempotentBrokerSubscriber` as `FilteredBrokerSubscriber`
  packages/core/minos-microservice-common/minos/common/config/v2.py
  packages/core/minos-microservice-common/tests/config/v2.yml
  packages/core/minos-microservice-common/tests/test_common/test_config/test_v2/test_base.py
  packages/core/minos-microservice-networks/minos/networks/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/abc.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/filtered/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/filtered/impl.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/filtered/validators/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/filtered/validators/abc.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/filtered/validators/duplicates/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/filtered/validators/duplicates/abc.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/filtered/validators/duplicates/memory.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/filtered/validators/duplicates/pg.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/idempotent/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/idempotent/detectors/__init__.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_subscribers/test_abc.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_subscribers/test_filtered/__init__.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_subscribers/test_filtered/test_impl.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_subscribers/test_filtered/test_validators/__init__.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_subscribers/test_filtered/test_validators/test_abc.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_subscribers/test_filtered/test_validators/test_duplicates/__init__.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_subscribers/test_filtered/test_validators/test_duplicates/test_abc.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_subscribers/test_filtered/test_validators/test_duplicates/test_memory.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_subscribers/test_filtered/test_validators/test_duplicates/test_pg.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_subscribers/test_idempotent/test_detectors/test_abc.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_subscribers/test_idempotent/test_detectors/test_memory.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_subscribers/test_idempotent/test_detectors/test_pg.py
Labels: minos-microservice-networks, broker

#318 #306 - Add `@reboot` support to `CronTab`
  packages/core/minos-microservice-networks/minos/networks/__init__.py
  packages/core/minos-microservice-networks/minos/networks/decorators/definitions/periodic.py
  packages/core/minos-microservice-networks/minos/networks/scheduling/__init__.py
  packages/core/minos-microservice-networks/minos/networks/scheduling/crontab.py
  packages/core/minos-microservice-networks/minos/networks/scheduling/schedulers.py
  packages/core/minos-microservice-networks/tests/test_networks/test_scheduling/test_crontab.py
  packages/core/minos-microservice-networks/tests/test_networks/test_scheduling/test_schedulers.py
Labels: enhancement, minos-microservice-networks

#309 #283 - Create RabbitMQ plugin
  .github/workflows/minos-broker-rabbitmq-publish.yml
  .github/workflows/minos-broker-rabbitmq-tests.yml
  .pre-commit-config.yaml
  packages/plugins/minos-broker-rabbitmq/AUTHORS.md
  packages/plugins/minos-broker-rabbitmq/HISTORY.md
  packages/plugins/minos-broker-rabbitmq/LICENSE
  packages/plugins/minos-broker-rabbitmq/Makefile
  packages/plugins/minos-broker-rabbitmq/README.md
  packages/plugins/minos-broker-rabbitmq/RUNTHETESTS.md
  packages/plugins/minos-broker-rabbitmq/SETUP.md
  packages/plugins/minos-broker-rabbitmq/docs/Makefile
  packages/plugins/minos-broker-rabbitmq/docs/_static/style.css
  packages/plugins/minos-broker-rabbitmq/docs/_templates/layout.html
  packages/plugins/minos-broker-rabbitmq/docs/authors.md
  packages/plugins/minos-broker-rabbitmq/docs/conf.py
  packages/plugins/minos-broker-rabbitmq/docs/history.md
  packages/plugins/minos-broker-rabbitmq/docs/index.md
  packages/plugins/minos-broker-rabbitmq/docs/readme.md
  packages/plugins/minos-broker-rabbitmq/docs/runthetests.md
  packages/plugins/minos-broker-rabbitmq/docs/usage.md
  packages/plugins/minos-broker-rabbitmq/minos/plugins/rabbitmq/__init__.py
  packages/plugins/minos-broker-rabbitmq/minos/plugins/rabbitmq/common.py
  packages/plugins/minos-broker-rabbitmq/minos/plugins/rabbitmq/publisher.py
  packages/plugins/minos-broker-rabbitmq/minos/plugins/rabbitmq/subscriber.py
  packages/plugins/minos-broker-rabbitmq/poetry.toml
  packages/plugins/minos-broker-rabbitmq/pyproject.toml
  packages/plugins/minos-broker-rabbitmq/setup.cfg
  packages/plugins/minos-broker-rabbitmq/tests/__init__.py
  packages/plugins/minos-broker-rabbitmq/tests/docker-compose.yml
  packages/plugins/minos-broker-rabbitmq/tests/test_config.yml
  packages/plugins/minos-broker-rabbitmq/tests/test_rabbitmq/__init__.py
  packages/plugins/minos-broker-rabbitmq/tests/test_rabbitmq/test_common.py
  packages/plugins/minos-broker-rabbitmq/tests/test_rabbitmq/test_integration.py
  packages/plugins/minos-broker-rabbitmq/tests/test_rabbitmq/test_publisher.py
  packages/plugins/minos-broker-rabbitmq/tests/test_rabbitmq/test_subscriber.py
  packages/plugins/minos-broker-rabbitmq/tests/utils.py
  poetry.lock
  pyproject.toml
Labels: enhancement, broker, plugin, minos-broker-rabbitmq

#168 #151 - OpenAPI and AsyncAPI specs
  packages/core/minos-microservice-networks/minos/networks/__init__.py
  packages/core/minos-microservice-networks/minos/networks/specs/__init__.py
  packages/core/minos-microservice-networks/minos/networks/specs/asyncapi.py
  packages/core/minos-microservice-networks/minos/networks/specs/openapi.py
  packages/core/minos-microservice-networks/tests/services/commands.py
  packages/core/minos-microservice-networks/tests/test_networks/test_discovery/test_connectors.py
  packages/core/minos-microservice-networks/tests/test_networks/test_specs/__init__.py
  packages/core/minos-microservice-networks/tests/test_networks/test_specs/test_asyncapi.py
  packages/core/minos-microservice-networks/tests/test_networks/test_specs/test_openapi.py
Labels: enhancement, broker, rest

#329 0.6.0 (2)
  Makefile
  packages/plugins/minos-broker-rabbitmq/README.md
  packages/plugins/minos-discovery-minos/README.md
  packages/plugins/minos-http-aiohttp/README.md
  packages/plugins/minos-router-graphql/README.md
Labels: release

#330 0.6.x (2)
  Makefile
  packages/plugins/minos-broker-rabbitmq/README.md
  packages/plugins/minos-discovery-minos/README.md
  packages/plugins/minos-http-aiohttp/README.md
  packages/plugins/minos-router-graphql/README.md
Labels: release

#335 #334 - Fix bug related with incomprehensible error messages related with failures on setup
  packages/core/minos-microservice-common/minos/common/launchers.py
  packages/core/minos-microservice-common/tests/test_common/test_launchers.py
Labels: minos-microservice-common, launcher

#340 #336 - Fix `AioKafkaConsumer` strange errors
  packages/plugins/minos-broker-kafka/minos/plugins/kafka/subscriber.py
  packages/plugins/minos-broker-kafka/tests/test_kafka/test_subscriber.py
Labels: minos-broker-kafka
